
<!-- SubHeader -->
<div class="careerfy-subheader careerfy-subheader-without-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="careerfy-page-title">
					<h1>Your Profile</h1>
					<div class="col-lg-6"><p>Views : <span style="color:#fff">{{this.views}}</span></p></div>
                    <div class="col-lg-6"><p>Shortlists : <a [routerLink]="['/shortlists']" ><span style="color:#fff">{{this.shortlists_count}}</span></a></p></div>
                    <div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="careerfy-page-title">
					<h1>Credits</h1>
					<div class="col-lg-6"><p>Available : <span>{{this.avail_credits}}</span></p></div>
                    <div class="col-lg-6"><p>Used : <span>{{this.used_credits}}</span></p></div>
                    <div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="careerfy-page-title">
					<h1>Invitation to Connect</h1>
					<div class="col-lg-6"><p>Received : <a [routerLink]="['/invitations-received']" ><span style="color:#fff">{{this.inv_received}}</span></a></p></div>
                    <div class="col-lg-6"><p>Sent : <a [routerLink]="['/invitations-sent']" ><span style="color:#fff">{{this.inv_sent}}</span></a></p></div>
                    <div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- SubHeader -->   
<alert></alert>    
<!-- Main Content -->
<div class="careerfy-main-content">	
	<!-- Main Section -->
	<div class="careerfy-main-section careerfy-dashboard-fulltwo">   
	<div class="container">
		<div class="careerfy-typo-wrap">
			<div class="careerfy-employer-dasboard">
				<div class="careerfy-employer-box-section">
					<!-- Profile Title -->
					<div class="careerfy-profile-title">
						<h2>Purchase History</h2>
					</div>
					<!-- Transactions -->
					<div class="careerfy-employer-transactions-wrap">
						<div class="careerfy-employer-transactions">
							<div class="careerfy-table-layer careerfy-transactions-thead">
								<div class="careerfy-table-row">
									<div class="careerfy-table-cell">S.No</div>
									<div class="careerfy-table-cell">Validity</div>
									<div class="careerfy-table-cell">Amount</div>
									<div class="careerfy-table-cell">Date</div>
									<div class="careerfy-table-cell">Actions</div>
								</div>
							</div>
							<div  *ngFor="let user of users; let i = index">
								<div class="careerfy-table-layer careerfy-transactions-tbody">
									<div class="careerfy-table-row">
										<div class="careerfy-table-cell">{{i+1}}</div>
										<div class="careerfy-table-cell"><span>{{user?.validity}}</span></div>
										<div class="careerfy-table-cell"><small>{{user?.amount}}</small></div>
										<div class="careerfy-table-cell">{{user?.date}}</div>
										<div class="careerfy-table-cell"><i class="fa fa-eye"></i> View</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

