<!--Start Home-->
<section class="bg-home-slider" id="home">
	<div class="container-fluid">
		<div class="row">
			<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item half-slider active" style="background: url(assets/images/home-bg.jpg);">
						<div class="bg-overlay"></div>
						<div class="home-table">
							<div class="home-table-center">
								<div class="container">
									<div class="row justify-content-center">
										
										<div class="col-lg-10 col-lg-offset-1">
										
										<div class="col-lg-6 text-center">
											<div class="text-white bg-white">                                                       
												<h1 class="header_title mb-0 pt-4">Invest in India's most promising Startups</h1>
												<p class="header_subtitle pt-4 mb-0 pb-2 text-white">Diversify your investment portfolio with access to highly curated and personalised deal flow from India and beyond</p>
												<div>
													<a href="#" class="btn btn-custom">I am invester</a>
												</div>
											</div>
										</div>  
										
										 <div class="col-lg-6 text-center">
											<div class="text-white bg-white">                                                       
												<h1 class="header_title mb-0 pt-4">Get funding for your Startup from Top Investors</h1>
												<p class="header_subtitle pt-4 mb-0 pb-2 text-white">Discover and Connect with global <br>strategic investors to raise funds for your <br>Startup with ease</p>
												<div>
													<a href="#" class="btn btn-custom">I am a startup</a>
												</div>
											</div>
										</div>  
											
									</div>                                           
								</div>
							</div>
						</div>
					</div>
					</div>
					
					<div class="carousel-item half-slider" style="background: url(assets/images/home-bg-2.jpg);">
						<div class="bg-overlay"></div>
						<div class="home-table">
							<div class="home-table-center">
								<div class="container">
									<div class="row justify-content-center">
										
										<div class="col-lg-10 col-lg-offset-1">
										
										<div class="col-lg-6 text-center">
											<div class="text-white bg-white">                                                       
												<h1 class="header_title mb-0 pt-4">Invest in India's most promising Startups</h1>
												<p class="header_subtitle pt-4 mb-0 pb-2 text-white">Diversify your investment portfolio with access to highly curated and personalised deal flow from India and beyond</p>
												<div>
													<a href="#" class="btn btn-custom">I am invester</a>
												</div>
											</div>
										</div>  
										
										 <div class="col-lg-6 text-center">
											<div class="text-white bg-white">                                                       
												<h1 class="header_title mb-0 pt-4">Get funding for your Startup from Top Investors</h1>
												<p class="header_subtitle pt-4 mb-0 pb-2 text-white">Discover and Connect with global <br>strategic investors to raise funds for your <br>Startup with ease</p>
												<div>
													<a href="#" class="btn btn-custom">I am a startup</a>
												</div>
											</div>
										</div>  
											
									</div>                                           
								</div>
							</div>
						</div>
					</div>
					</div>
					<div class="carousel-item half-slider" style="background: url(assets/images/home-bg-3.jpg);">
						<div class="bg-overlay"></div>
						<div class="home-table">
							<div class="home-table-center">
								<div class="container">
									<div class="row justify-content-center">
										
										<div class="col-lg-10 col-lg-offset-1">
										
										<div class="col-lg-6 text-center">
											<div class="text-white bg-white">                                                       
												<h1 class="header_title mb-0 pt-4">Invest in India's most promising Startups</h1>
												<p class="header_subtitle pt-4 mb-0 pb-2 text-white">Diversify your investment portfolio with access to highly curated and personalised deal flow from India and beyond</p>
												<div>
													<a href="#" class="btn btn-custom">I am invester</a>
												</div>
											</div>
										</div>  
										
										 <div class="col-lg-6 text-center">
											<div class="text-white bg-white">                                                       
												<h1 class="header_title mb-0 pt-4">Get funding for your Startup from Top Investors</h1>
												<p class="header_subtitle pt-4 mb-0 pb-2 text-white">Discover and Connect with global <br>strategic investors to raise funds for your <br>Startup with ease</p>
												<div>
													<a href="#" class="btn btn-custom">I am a startup</a>
												</div>
											</div>
										</div>  
											
									</div>                                           
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
					<span class="pe-7s-angle-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
					<span class="pe-7s-angle-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
</section>
<!--End Home-->

<section class="bg-home-slider" id="home">
	<div class="container">
		<div class="row">
			
		  <div class="col-lg-12  mt-5 ">  
				<div class="text-center">
					<h3 class="mb-0 text-capitalize"><span class="font-weight-bold">popular cities</span> </h3>
					<div class="main-title-border mx-auto"></div>                            
				</div>
			</div>
			
			
			<div id="carouselExampleFade1" class="carousel slide carousel-fade" data-ride="carousel">
				<div class="carousel-inner" style="width: 90%;  margin-left: 5%;">
					<div class="carousel-item active" >
						
						 
		<div class="row mt-3">
			<div class="col-lg-2 mt-3">
				<div class="logo_img">
					<img src="assets/images/city_bangalore_new.jpg" alt="logo-img" class="mx-auto img-fluid d-block">
					<div class="overlay">Bangalore</div>
				</div>
			</div>
			<div class="col-lg-2 mt-3">
				<div class="logo_img">
					<img src="assets/images/city_chennai_new.jpg" alt="logo-img" class="mx-auto img-fluid d-block">
					<div class="overlay">Chennai</div>
				</div>
			</div>
			<div class="col-lg-2 mt-3">
				<div class="logo_img">
					<img src="assets/images/city_delhi_new.jpg" alt="logo-img" class="mx-auto img-fluid d-block">
					<div class="overlay">Delhi</div>
				</div>
			</div>
			<div class="col-lg-2 mt-3">
				<div class="logo_img">
					<img src="assets/images/city_hyderabad_new.jpg" alt="logo-img" class="mx-auto img-fluid d-block">
					<div class="overlay">Hyderabad</div>
				</div>
			</div>
			<div class="col-lg-2 mt-3">
				<div class="logo_img">
					<img src="assets/images/city_mumbai_new.jpg" alt="logo-img" class="mx-auto img-fluid d-block">
					<div class="overlay">Mumbai</div>
				</div>
			</div>
			<div class="col-lg-2 mt-3">
				<div class="logo_img">
					<img src="assets/images/city_kolkata_new.jpg" alt="logo-img" class="mx-auto img-fluid d-block">
					<div class="overlay">Kolkata</div>
				</div>
			</div>
			
		</div>
						
						
					</div>
					
					
		<div class="carousel-item" >


							<div class="row mt-3">
			<div class="col-lg-2 mt-3">
				<div class="logo_img">
					<img src="assets/images/city_mumbai_new.jpg" alt="logo-img" class="mx-auto img-fluid d-block">
					<div class="overlay">Mumbai</div>
				</div>
			</div>
			<div class="col-lg-2 mt-3">
				<div class="logo_img">
					<img src="assets/images/city_chennai_new.jpg" alt="logo-img" class="mx-auto img-fluid d-block">
					<div class="overlay">Chennai</div>
				</div>
			</div>
			<div class="col-lg-2 mt-3">
				<div class="logo_img">
					<img src="assets/images/city_delhi_new.jpg" alt="logo-img" class="mx-auto img-fluid d-block">
					<div class="overlay">Delhi</div>
				</div>
			</div>

			 <div class="col-lg-2 mt-3">
				<div class="logo_img">
					<img src="assets/images/city_bangalore_new.jpg" alt="logo-img" class="mx-auto img-fluid d-block">
					<div class="overlay">Bangalore</div>
				</div>
			</div>
			<div class="col-lg-2 mt-3">
				<div class="logo_img">
					<img src="assets/images/city_hyderabad_new.jpg" alt="logo-img" class="mx-auto img-fluid d-block">
					<div class="overlay">Hyderabad</div>
				</div>
			</div>
		   
			<div class="col-lg-2 mt-3">
				<div class="logo_img">
					<img src="assets/images/city_kolkata_new.jpg" alt="logo-img" class="mx-auto img-fluid d-block">
					<div class="overlay">Kolkata</div>
				</div>
			</div>
			
		</div>                                 

			  
					</div>
					
					
					<div class="carousel-item" >
						
						
						   <div class="row mt-3">
			<div class="col-lg-2 mt-3">
				<div class="logo_img">
					<img src="assets/images/city_bangalore_new.jpg" alt="logo-img" class="mx-auto img-fluid d-block">
					<div class="overlay">Bangalore</div>
				</div>
			</div>
			<div class="col-lg-2 mt-3">
				<div class="logo_img">
					<img src="assets/images/city_chennai_new.jpg" alt="logo-img" class="mx-auto img-fluid d-block">
					<div class="overlay">Chennai</div>
				</div>
			</div>
			<div class="col-lg-2 mt-3">
				<div class="logo_img">
					<img src="assets/images/city_delhi_new.jpg" alt="logo-img" class="mx-auto img-fluid d-block">
					<div class="overlay">Delhi</div>
				</div>
			</div>
			<div class="col-lg-2 mt-3">
				<div class="logo_img">
					<img src="assets/images/city_hyderabad_new.jpg" alt="logo-img" class="mx-auto img-fluid d-block">
					<div class="overlay">Hyderabad</div>
				</div>
			</div>
			<div class="col-lg-2 mt-3">
				<div class="logo_img">
					<img src="assets/images/city_mumbai_new.jpg" alt="logo-img" class="mx-auto img-fluid d-block">
					<div class="overlay">Mumbai</div>
				</div>
			</div>
			<div class="col-lg-2 mt-3">
				<div class="logo_img">
					<img src="assets/images/city_kolkata_new.jpg" alt="logo-img" class="mx-auto img-fluid d-block">
					<div class="overlay">Kolkata</div>
				</div>
			</div>
			
		</div>
			   
					</div>
					
					
					
				</div>
				<a class="carousel-control-prev" href="#carouselExampleFade1" role="button" data-slide="prev" style="opacity: 1;">
					<span class="pe-7s-angle-left" aria-hidden="true" style="color:#000; margin-top: 25px;"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleFade1" role="button" data-slide="next"  style="opacity: 1;">
					<span class="pe-7s-angle-right" aria-hidden="true" style="color:#000; margin-top: 25px;"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
</section>
<!--End Home-->
	
<!-- Start Funfact -->
<section class="counter_res_pad mt-5" style="background:#f7f7f7">
	<div class="container">
		<div class="row" id="counter">
		   
			<div class="col-lg-4">
				<div class="text-center fun_boxes text-blue p-4">
					<div class="fun_icon mb-2">
						<i class="pe-7s-medal h1"></i>
					</div>
					<h1 class="fun_value mb-1" data-count="4001">4</h1>
					<p class="fun_name mb-0">Small Investor</p>   
				</div>   
			</div>
			<div class="col-lg-4">
				<div class="text-center fun_boxes text-blue p-4">
					<div class="fun_icon mb-2">
						<i class="pe-7s-smile h1"></i>
					</div>
					<h1 class="fun_value mb-1" data-count="835">4</h1>
					<p class="fun_name mb-0">Experience/Skill</p>   
				</div>   
			</div>
			<div class="col-lg-4">
				<div class="text-center fun_boxes text-blue p-4">
					<div class="fun_icon mb-2">
						<i class="pe-7s-user h1"></i>
					</div>
					<h1 class="fun_value mb-1" data-count="124">4</h1>
					<p class="fun_name mb-0">Connect</p>   
				</div>   
			</div>
		</div>
	</div>
</section>
<!-- End Funfact -->