
        
 <section class="profile-main-sec">
    <div class="container">
         <div class="row">
            <div class="col-lg-3"><h3 style="font-family: 'Poppins', sans-serif;     font-size: 13px;     text-align: right;   color: #4267b2;">Your Search Reasult :</h3></div>
             <div class="col-lg-9"><h3 style="font-family: 'Poppins', sans-serif;     font-size: 13px;   color: #4267b2;">All / Business Investor / Education / Karnataka / 1LK to 5LK / Exp 1.5 to 4 yrs
             </h3></div>
        </div>
     </div>
</section>       
   
  

       
<section style="background:#f1f1f2;margin-top: 5px;">
    <div class="container">
    
       <div class="row">
            <div class="col-lg-3">
     <div style="
    background: white;
    box-shadow: 0px 0px 3px #adadb0;
    margin-top: 40px;
    padding: 2px;
    font-weight: 600;
    font-size: 15px;
"><i class="pe-7s-search" style="
    padding: 7px;
    color: #ffffff;
    background: #4267b2;
    margin-right: 10px;
"></i>   Investor / Skilled </div>


      <ul class="accordion">
       <li class="accordion__item">
          <a href="#" class="accordion__link accordion__link_active">Category</a>
          <ul class="sub-accordion">
            <li class="sub-accordion__item">
			<div class="side-bar">
				<input type="radio" name="gender" value="male" checked> Any (456)<br>
				<input type="radio" name="gender" value="female"> Building Red (20)<br>
				<input type="radio" name="gender" value="other"> Business Services  <br>
				<input type="radio" name="gender" value="other"> Health Services<br>
				<input type="radio" name="gender" value="other"> Online Sale<br>
			</div> 

			<a href="#" class="nav-link"  data-toggle="modal" style="padding: 0px;      font-size: 12px;" data-target="#exampleModalCenter1">View More</a>


            </li>
          </ul>
        </li>


       

        <li class="accordion__item">
          <a href="#" class="accordion__link accordion__link_active">State City</a>
          <ul class="sub-accordion">
            <li class="sub-accordion__item">
              <div class="side-bar">
                <input type="checkbox" name="vehicle1" value="Bike" checked> Andhra Pradesh <br>
                <input type="checkbox" name="vehicle2" value="Car"> Telangana<br>
                <input type="checkbox" name="vehicle3" value="Boat" > Odisha<br>
                <input type="checkbox" name="vehicle3" value="Boat" > Karnataka<br>
                <input type="checkbox" name="vehicle3" value="Boat" > Delhi<br>
              </div> 
          <a href="#" class="nav-link"  data-toggle="modal" style="padding: 0px;      font-size: 12px;" data-target="#exampleModalCenter11">View More</a>
            </li>
          </ul>
        </li>
      

            <li class="accordion__item">
          <a href="#" class="accordion__link accordion__link_active">Investment Size</a>
          <ul class="sub-accordion">
            <li class="sub-accordion__item">
              <div class="side-bar">
                <input type="checkbox" name="vehicle1" value="Bike" checked> 1,00,000 to 5,00,000 <br>
                <input type="checkbox" name="vehicle2" value="Car">  5,00,000 to 10,00,000<br>
                <input type="checkbox" name="vehicle3" value="Boat" >  10,00,000 to 20,00,000<br>
                <input type="checkbox" name="vehicle3" value="Boat" >  20,00,000 to 50,00,000<br>
                <input type="checkbox" name="vehicle3" value="Boat" >  50,00,000 to 100,00,000
              </div> 
         
            </li>
          </ul>
        </li>



   <li class="accordion__item">
          <a href="#" class="accordion__link accordion__link_active">Education Qualification</a>
          <ul class="sub-accordion">
            <li class="sub-accordion__item">
              <div class="side-bar">
                <input type="checkbox" name="vehicle1" value="Bike" checked> Any <br>
                <input type="checkbox" name="vehicle2" value="Car">  None To school<br>
                <input type="checkbox" name="vehicle3" value="Boat" >  College<br>
                <input type="checkbox" name="vehicle3" value="Boat" >  Any Graduation<br>
                <input type="checkbox" name="vehicle3" value="Boat" > Post Graduation<br>
                 <input type="checkbox" name="vehicle3" value="Boat" >IIT,IIM (Top Institute)
              </div> 
         
            </li>
          </ul>
        </li>



 <li class="accordion__item">
          <a href="#" class="accordion__link accordion__link_active">Experience</a>
          <ul class="sub-accordion">
            <li class="sub-accordion__item">
              <div class="side-bar">
                <input type="checkbox" name="vehicle1" value="Bike" checked> None <br>
                <input type="checkbox" name="vehicle2" value="Car">  Any<br>
                <input type="checkbox" name="vehicle3" value="Boat" >  5+ Yrs <br>
                <input type="checkbox" name="vehicle3" value="Boat" >  10+ Yrs<br>
                <input type="checkbox" name="vehicle3" value="Boat" > 20 Yrs <br>
                
              </div> 
         
            </li>
          </ul>
        </li>


 <li class="accordion__item">
          <a href="#" class="accordion__link accordion__link_active">Coinvest</a>
          <ul class="sub-accordion">
            <li class="sub-accordion__item">
              <div class="side-bar">
                <input type="checkbox" name="vehicle1" value="Bike" checked> Yes <br>
                <input type="checkbox" name="vehicle2" value="Car">  No<br>
      
                
              </div> 
         
            </li>
          </ul>
        </li>



      </ul>
   
           
           </div>
           


           <div class="col-lg-9">
             
                <div class="main-box">

                  <div class="row">
                    <div class="col-lg-6">
                      <h5>Experienced/Skilled</h5>
                      <p><b>Business Catagory : </b> <span class="blue">Resturant Business</span> </p>
                      <p><b>Experience :</b> <span class="blue">5 Years </span></p>
                    </div>

                   <div class="col-lg-6">
                     <p><b>Coinvest :</b> <span class="blue">No</span></p>
                      <p><b>Subcatagory :</b> <span class="blue">Biryani Center</span></p>
                      <p><b>Investment Need :</b> <span class="blue">Rs 10,00,000 </span></p>
                  </div>
                </div>


                 <div class="clearfix"></div> 



                 <hr style="border-top: 1px groove #f1f1f245;">

                  <div class="row">
                      <div class="col-lg-2"><img src="src/assets/images/avatar.png" style="    border-radius: 3px;" class="img-fluid"></div>
                      <div class="col-lg-7">
                        <div class="row">
                          <div class="col-lg-6">
                            <p>3103652168</p>
                            <p>Hyderbad, India</p>
                            <p>Language : Hindi , English</p> 
                            <p>Age : 33yrs, Female </p> 
                             
                            <p>Coinvest : No </p>
                          </div>

                          <div class="col-lg-6">
                            <p>Email : kahnda.neexxxx@xxxx.com </p> 
                            <p>Phone no : 7878xxxxxx </p> 
                            <p>Website : www.xxxxxx.com  </p>
                            <p>Whatsapp : 8987xxxxx </p> 
                          </div>

                        </div>
                      </div>
                      <div class="col-lg-3 feature-wrap" >
                         <p><b>Like This Profile</b></p>
                         
                         
                         <p><i class="fa fa-check"></i> Connect Now</p>

                         
                         <p><i class="fa fa-heart" style=" background: #a458a2; color: #fff;  border: 1px solid #a458a2;"></i> Shortlist Now</p>

                         
                         <p><i class="fa fa-handshake-o"></i> Invite to Connect</p>
                      </div>

                   <div class="clearfix"></div>
                  </div>


                  <hr style="border-top:1px dashed #f0f0f0 ">

                  <div class="row">
<div class="col-lg-2"><p  ><b>Experience:</b></p></div>

<div class="col-lg-10"><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable <a href="">more</a></p></div>
</div>  


         <div class="row">
<div class="col-lg-2"><p  ><b>Higest of Achivment:</b></p></div>

<div class="col-lg-10"><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable <a href="">more</a></p></div>
</div>  


         <div class="row">
<div class="col-lg-2"><p  ><b>Expected per month:</b></p></div>

<div class="col-lg-10"><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable <a href="">more</a></p></div>
</div>  


                </div>



 





 <div class="main-box">

                  <div class="row">
                    <div class="col-lg-6">
                      <h5>Invester</h5>
                      <p><b>Business Catagory : </b> <span class="blue">Resturant Business</span> </p>
                    <p><b>Subcatagory :</b> <span class="blue">Biryani Center</span></p>
                    </div>

                   <div class="col-lg-6">
                    
                   
                      <p><b>Investment Range :</b> <span class="blue">Rs 10,00,000 </span></p>
                  </div>
                </div>


                 <div class="clearfix"></div> 



                 <hr style="border-top: 1px groove #f1f1f245;">

                  <div class="row">
                      <div class="col-lg-2"><img src="src/assets/images/avatar.png" style="    border-radius: 3px;" class="img-fluid"></div>
                      <div class="col-lg-7">
                        <div class="row">
                          <div class="col-lg-6">
                            <p>3103652168</p>
                            <p>Hyderbad, India</p>
                            <p>Language : Hindi , English</p> 
                            <p>Age : 33yrs, Female </p> 
                             
                            <p>Coinvest : No </p>
                          </div>

                         <div class="col-lg-6">
                            <p>Email : kahnda.neexxxx@xxxx.com </p> 
                            <p>Phone no : 7878xxxxxx </p> 
                            <p>Website : www.xxxxxx.com  </p>
                            <p>Whatsapp : 8987xxxxx </p> 
                          </div>

                        </div>
                      </div>
                      <div class="col-lg-3 feature-wrap" >
                         <p><b>Like This Profile</b></p>
                         
                         
                         <p><i class="fa fa-check"></i> Connect Now</p>

                         
                         <p><i class="fa fa-heart" style=" background: #a458a2; color: #fff;  border: 1px solid #a458a2;"></i> Shortlist Now</p>

                         
                         <p><i class="fa fa-handshake-o"></i> Invite to Connect</p>
                      </div>

                   <div class="clearfix"></div>
                  </div>


                  <hr style="border-top:1px dashed #f0f0f0 ">

                  <div class="row">
<div class="col-lg-2"><p  ><b>Skill Exp. I am looking for:</b></p></div>

<div class="col-lg-10"><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable <a href="">more</a></p></div>
</div>  


         <div class="row">
<div class="col-lg-2"><p  ><b>About commission, profit, salary:</b></p></div>

<div class="col-lg-10"><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable <a href="">more</a></p></div>
</div>  


         <div class="row">
<div class="col-lg-2"><p  ><b>Place of Business:</b></p></div>

<div class="col-lg-10"><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable <a href="">more</a></p></div>
</div>  

    <div class="row">
<div class="col-lg-2"><p  ><b>About Me:</b></p></div>

<div class="col-lg-10"><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable <a href="">more</a></p></div>
</div>  


                </div>



           </div>



        </div>
    
    </div>
</section>





 <div class="modal fade" id="exampleModalCenter1">
    <div class="modal-dialog modal-dialog-centered modal-dialog1" role="document">
      <div class="modal-content modal-content1">
        <div class="modal-header text-center">
           <h5 class="modal-title mb-0 font-weight-bold" id="exampleModalLongTitle">Category</h5>
            <button type="button" class="close close1" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-body1">
             
             <div class="col-lg-6">
               
                <input type="checkbox" id="city1" name="city-1" value="bangalore" class="modal-checkbox" >
                <label for="city1">Demo Data</label>


                <input type="checkbox" id="city2" name="city-2" value="delhi" class="modal-checkbox" >
                <label for="city1">Demo Data</label>

                <input type="checkbox" id="city3" name="city-2" value="mumbai" class="modal-checkbox" >
               <label for="city1">Demo Data</label>

                <input type="checkbox" id="city4" name="city-4" value="hyderbad" class="modal-checkbox" >
                <label for="city1">Demo Data</label>


             </div>     
             <div class="col-lg-6">
               
                <input type="checkbox" id="city5" name="city-5" value="bangalore" class="modal-checkbox" >
              <label for="city1">Demo Data</label>


                <input type="checkbox" id="city6" name="city-6" value="delhi" class="modal-checkbox" >
               <label for="city1">Demo Data</label>

                <input type="checkbox" id="city7" name="city-7" value="mumbai" class="modal-checkbox" >
              <label for="city1">Demo Data</label>

                <input type="checkbox" id="city8" name="city-8" value="hyderbad" class="modal-checkbox" >
                <label for="city1">Demo Data</label>


             </div>                   
    
        </div>
      </div>
    </div>
</div>




<div class="modal fade" id="exampleModalCenter11">
    <div class="modal-dialog modal-dialog-centered modal-dialog1" role="document">
      <div class="modal-content modal-content1">
        <div class="modal-header text-center">
           <h5 class="modal-title mb-0 font-weight-bold" id="exampleModalLongTitle">Location</h5>
            <button type="button" class="close close1" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-body1">
             
             <div class="col-lg-6">
               
                <input type="checkbox" id="city1" name="city-1" value="bangalore" class="modal-checkbox" >
                <label for="city1">Demo Data</label>


                <input type="checkbox" id="city2" name="city-2" value="delhi" class="modal-checkbox" >
                <label for="city1">Demo Data</label>

                <input type="checkbox" id="city3" name="city-2" value="mumbai" class="modal-checkbox" >
               <label for="city1">Demo Data</label>

                <input type="checkbox" id="city4" name="city-4" value="hyderbad" class="modal-checkbox" >
                <label for="city1">Demo Data</label>


             </div>     
             <div class="col-lg-6">
               
                <input type="checkbox" id="city5" name="city-5" value="bangalore" class="modal-checkbox" >
              <label for="city1">Demo Data</label>


                <input type="checkbox" id="city6" name="city-6" value="delhi" class="modal-checkbox" >
               <label for="city1">Demo Data</label>

                <input type="checkbox" id="city7" name="city-7" value="mumbai" class="modal-checkbox" >
              <label for="city1">Demo Data</label>

                <input type="checkbox" id="city8" name="city-8" value="hyderbad" class="modal-checkbox" >
                <label for="city1">Demo Data</label>


             </div>                   
    
        </div>
      </div>
    </div>
</div>



<script>

   function slide(link) {
  
  var down = function (callback, time) {
    var subMenu = link.nextElementSibling;
    var height = subMenu.clientHeight; 
    var part = height / 100;
    
    var paddingTop = parseInt(window.getComputedStyle(subMenu, null).getPropertyValue('padding-top'));
    var paddingBottom = parseInt(window.getComputedStyle(subMenu, null).getPropertyValue('padding-bottom'));
    var paddingTopPart = parseInt(paddingTop) / 50;
    var paddingBottomPart = parseInt(paddingBottom) / 30;
    
    (function innerFunc(i, t, b) {

      subMenu.style.height = i + 'px';
      
      i += part;
      
      if(t < paddingTop) {
      
        t += paddingTopPart;
        subMenu.style.paddingTop = t + 'px';
          
      } else if(b < paddingBottom) {

        b += paddingBottomPart;
        subMenu.style.paddingBottom = b + 'px';
      }
      
      if(i < height) { 
      
        setTimeout(function() {
            
            innerFunc(i, t, b);
            
        }, time / 100);
          
      } else { 
          
        subMenu.removeAttribute('style');
        callback();
      }
        
    })(0, 0, 0);
  },
  
  up = function (callback, time) {
      
    var subMenu = link.nextElementSibling;
    var height = subMenu.clientHeight; 
    var part = subMenu.clientHeight / 100;
    var paddingTop = parseInt(window.getComputedStyle(subMenu).paddingTop);
    var paddingBottom = parseInt(window.getComputedStyle(subMenu).paddingBottom);
    var paddingTopPart = parseInt(paddingTop) / 30;
    var paddingBottomPart = parseInt(paddingBottom) / 50;

    (function innerFunc(i, t, b) {

      subMenu.style.height = i + 'px';
      
      i -= part;
      i = i.toFixed(2);

      if(b > 0) {
          
        b -= paddingBottomPart;
        b = b.toFixed(1);                
        subMenu.style.paddingBottom = b + 'px';
          
      } else if(t > 0) {
          
        t -= paddingTopPart;
        t = t.toFixed(1); 
        subMenu.style.paddingTop = t + 'px';
      }
      
      if(i > 0) { 
      
        setTimeout(function() {
            
            innerFunc(i, t, b);
            
        }, time / 100);
          
      } else {
          
        subMenu.removeAttribute('style');
        callback(); 
      }
        
    })(height, paddingTop, paddingBottom);
  }
      
  return {
    down: down,
    up: up
  }
} 
    
var accordion = (function() {

    var menu = document.querySelectorAll('.accordion');
    var activeClass = 'accordion__link_active';
    var arr = [];
    var timer = 100;
    
    for(let i = 0; i < menu.length; i++) {

        for(let p = 0; p < menu[i].children.length; p++) {

            var link = menu[i].children[p].firstElementChild;
            
            if(link.classList.contains(activeClass)) {
                arr[i] = link;
            }
        }
    }
       
    function accordionInner(i) {
            
      var clicked = false;
      
      menu[i].addEventListener('click', function(e) {

        if(e.target.tagName === 'A' && !clicked) {

          clicked = true;

          if(e.target.classList.contains(activeClass)) {
              
            slide(e.target).up(function() {
                
              clicked = false;
              
              e.target.classList.remove(activeClass);
              
              console.log('slide up of accordion ' + i + ' is done');
            
            }, timer);
              
          } else {

            if(arr.length > 0) {
                
              slide(arr[i-1]).up(function() {
                  
                arr[i-1].classList.remove(activeClass);
                
                arr[i-1] = e.target;
                
                console.log('slide up of accordion ' + i + ' is done');

              }, timer);
            }

            e.target.classList.add(activeClass);
            
            slide(e.target).down(function() {
              
              clicked = false;
              
              arr[i-1] = e.target;
              
              console.log('slide down of accordion ' + i + ' is done');
            
            }, timer);
          }
        }
      });
      
      i++;
      
      if(i < menu.length) { accordionInner(i); }
        
    } accordionInner(0);
})();

</script>


