	<!-- Main Content -->
	<div class="careerfy-main-content">
            
            <!-- Main Section -->
            <div class="careerfy-main-section careerfy-dashboard-fulltwo">
                <div class="container">
                    <div class="row">

                        <aside class="careerfy-column-4">
                            <div class="careerfy-typo-wrap">
                                <div class="jobsearch_candidate_info">
                                    <figure><img src="assets/images/avatar.png" alt=""></figure>
                                    <h2>{{user?.name | titleCase }}</h2>
                                    <!-- <p>Financial Supervisor at Yup Studio></p>
                                    <span>Netherlands, Rotterdam</span>
                                    <small>Member Since, Aug 5, 2015</small> -->
                                    <ul *ngIf="!authUserProfile">
										<li class="icon-social-size"><a href="javascript:;" data-original-title="facebook" class="fa fa-check profile-icons-left"></a><span *ngIf="user?.is_connected == 1 else notConnected">Connected</span>
											<ng-template #notConnected><a class="connection-text" href="javascript:;" (click)="connectNow()">Connect Now</a></ng-template>
										</li>
										<li class="icon-social-size"><a href="javascript:;" data-original-title="twitter" class="fa fa-heart profile-icons-left"></a><span *ngIf="user?.is_shortlisted == 1 else notShortlisted">Shortlisted</span></li>
										<ng-template #notShortlisted><a class="connection-text" href="javascript:;" (click)="shortlistNow()">Shortlist Now</a></ng-template>
										<li class="icon-social-size"><a href="javascript:;" data-original-title="linkedin" class="fa fa-handshake-o profile-icons-left"></a><span *ngIf="user?.is_invited == 1 else noInvitationSent">Invitation Sent</span></li>
										<ng-template #noInvitationSent><a class="connection-text" href="javascript:;" (click)="inviteNow()">Invite to Connect</a></ng-template>
                                        <!-- <li><a href="#" data-original-title="google-plus" class="careerfy-icon careerfy-google-plus-logo-button"></a></li>
                                        <li><a href="#" data-original-title="dribbble" class="careerfy-icon careerfy-dribbble-logo"></a></li> -->
                                    </ul>
                                    <a  class="careerfy-candidate-download-btn"><i class="material-icons">&#xe8e8;</i> Mobile number verified</a>
                                </div>
                                
                            </div>
                        </aside>
                        <div class="careerfy-column-8">
                            <div class="careerfy-typo-wrap">
                                <div class="careerfy-candidate-editor">
                                    <div class="careerfy-content-title"><h2>About {{user?.name | titleCase }}</h2></div>
                                    <div class="careerfy-jobdetail-services">
                                        <ul class="careerfy-row">
											<li class="careerfy-column-4">
                                                <i class="careerfy-icon careerfy-user"></i>
                                                <div class="careerfy-services-text">Age <small>{{user?.date_of_birth | calculateAge}}yrs, Male, R: {{user?.relation}}</small></div>
											</li>
											<li class="careerfy-column-4">
												<i class="material-icons">&#xe7f1;</i>
												<div class="careerfy-services-text">City & State <small> {{user?.city_name}}, {{user?.state_name}} </small></div>
											</li>
											<li class="careerfy-column-4">
												<i class="fa fa fa-registered"></i>
												<div class="careerfy-services-text">Religion <small> {{user?.religion}} </small></div>
											</li>
											<li class="careerfy-column-4">
													<i class="material-icons">&#xe894;</i>
												<div class="careerfy-services-text">Mother Tongue <small> {{user?.mother_tongue}} </small></div>
											</li>
											<li class="careerfy-column-4">
												<i class="fa fa-language"></i>
												<div class="careerfy-services-text">Languages Known <small> {{user?.language}} </small></div>
											</li>
											<li class="careerfy-column-4">
												<i class="material-icons">&#xe0be;</i>
												<div class="careerfy-services-text">Email <small> {{user?.email}} </small></div>
											</li>
											<li class="careerfy-column-4">
													<i class="fa fa-mobile-phone"></i>
													<div class="careerfy-services-text">Phone no <small> {{user?.mobile}} </small></div>
												</li>
											<li class="careerfy-column-4">
												<i class="fa fa-mobile-phone"></i>
												<div class="careerfy-services-text">Whatsapp <small> {{user?.whatsup_number}} </small></div>
											</li>
											<li class="careerfy-column-4">
												<i class="fa fa-facebook-square"></i>
												<div class="careerfy-services-text">Facebook <small> www.xxxxxx.com </small></div>
											</li>
											<li class="careerfy-column-4">
												<i class="fa fa-linkedin-square"></i>
												<div class="careerfy-services-text">Linkedin <small> {{user?.linked_in_url}} </small></div>
											</li>
											<li class="careerfy-column-4">
												<i class="careerfy-icon careerfy-mortarboard"></i>
												<div class="careerfy-services-text">Education <small> {{user?.qualification}} </small></div>
											</li>

										</ul>
										<ng-template #genderFemale>Female</ng-template>
                                    </div>
                                </div>
                               
                                <div class="careerfy-candidate-title"> <h2><i class="careerfy-icon careerfy-social-media"></i> Experince/Skilled</h2> </div>
                                <div class="careerfy-candidate-timeline">
                                    <ul class="careerfy-row">
                                        <li class="careerfy-column-6">
                                            <div class="careerfy-candidate-timeline-text">
                                                <h4 class="experFont">Business Category</h4>
                                                <p>{{user?.cat_name}}</p>
                                            </div>
                                        </li>
                                        <li class="careerfy-column-6">
                                            <div class="careerfy-candidate-timeline-text">
                                                <h4 class="experFont">Sub Category</h4>
                                                <p>{{user?.sub_category}}</p>
                                            </div>
                                        </li>
                                        <li class="careerfy-column-6">
                                            <div class="careerfy-candidate-timeline-text">
                                                <h4 class="experFont">Co Investment</h4>
                                                <p><span *ngIf="user?.co_investment == this.global.CO_INVESTMENT_YES; else noCoInvestment" class="blue" >Yes</span></p>
												<ng-template #noCoInvestment>No</ng-template>
                                            </div>
                                        </li>
                                        <li class="careerfy-column-6">
                                            <div class="careerfy-candidate-timeline-text">
                                                <h4 class="experFont">Experience</h4>
                                                <p>{{user?.experience}}</p>
                                            </div>
                                        </li>
                                        <li class="careerfy-column-6">
                                            <div class="careerfy-candidate-timeline-text">
                                                <h4 class="experFont">Investment Needed</h4>
                                                <p>Rs {{user?.range}}</p>
                                            </div>
                                        </li>
                                        <li class="careerfy-column-6">
                                            <div class="careerfy-candidate-timeline-text">
                                                <h4 class="experFont">Financials</h4>
                                                <p>{{user?.investment_type}}</p>
                                            </div>
                                        </li>
                                    </ul>
								</div>
								<div class="careerfy-candidate careerfy-candidate-default">
										<div class="careerfy-candidate-title"> <h2><i class="careerfy-icon careerfy-trophy"></i> Honors & awards</h2> </div>
										<ul class="careerfy-row">
											<li class="careerfy-column-12">
												<div class="careerfy-candidate-default-wrap">
													<div class="careerfy-candidate-default-text">
														<div class="careerfy-candidate-default-left">
															<h2>About Me, My skill, Experience, Achivement, Growthrate </h2>
															<p>{{user?.about_me}}</p>
														</div>
														
													</div>
												</div>
											</li>
											<li class="careerfy-column-12">
												<div class="careerfy-candidate-default-wrap">
													<div class="careerfy-candidate-default-text">
														<div class="careerfy-candidate-default-left">
															<h2>No. Of clients/Customer/Average Sales/ I can achieve in a month</h2>
															<p> {{user?.description_of_sales}} </p>
														</div>
														
													</div>
												</div>
											</li>
											<li class="careerfy-column-12">
												<div class="careerfy-candidate-default-wrap">
													<div class="careerfy-candidate-default-text">
														<div class="careerfy-candidate-default-left">
															<h2>About Me  & My Family / Relationship status </h2>
															<p> {{user?.about_me}} </p>
														</div>
														
													</div>
												</div>
											</li>
											<li class="careerfy-column-12">
												<div class="careerfy-candidate-default-wrap">
													<div class="careerfy-candidate-default-text">
														<div class="careerfy-candidate-default-left">
															<h2>My personal value in terms of intiligence, honesty etc... </h2>
															<p> {{user?.description_of_profound_value}} </p>
														</div>
														
													</div>
												</div>
											</li>
											<li class="careerfy-column-12">
												<div class="careerfy-candidate-default-wrap">
													<div class="careerfy-candidate-default-text">
														<div class="careerfy-candidate-default-left">
															<h2>Relocation Preference </h2>
															<p> {{user?.description_relocation_preferance}} </p>
														</div>
														
													</div>
												</div>
											</li>
											
										</ul>
									</div>
								
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Main Section -->

        </div>
        <!-- Main Content -->