 body{background:#f1f1f2;}
     .profile-main-sec1 h6{font-family:'Poppins', sans-serif; font-size:13px; color:#4267b2;}
     .profile-main-sec1 span{font-family:'Poppins', sans-serif; font-size:13px; color:#4267b2;}
     .profile-main-sec1 {margin-top: 55px; padding-top:2px;}
     .profile-main-sec1 p { margin-bottom: 0px;     margin-bottom: 0px;
    font-size: 12px;
    font-weight: bold;}
     .tetxcente {text-align:center; }
     .form-fields  { margin-top: -41px;}
     .amrgintop {    margin-top: 32px;}
     
     .width30 {
    width: 30%;
    float: left;
    padding-top: 0px;
}
.carousel-control-next {width: 6%; }
.textcenters {text-align: center; }
.paddingtop42 {padding-top: 42px;}
.textmange {    text-align: center !important; font-size: 12px !important;
    font-weight: bold;
    color: #4267b2;} 
    .smaltt{font-size: 11px;
    text-align: center !important;
    padding-top: 4px;
    color: #737375;}
    .padding12 {padding: 12px;} #img229 {display:none !important; }
    
    .newsicon {color: #ffffff !important;
    border: 1px solid #b0b0b7  !important;
    height: 20px  !important;
    width: 20px !important;
    line-height: 16px  !important;
    text-align: center  !important;
    border-radius: 0px !important;
    position: absolute  !important;
    z-index: 999999 !important;
    margin-top: 4px !important; 
    margin-left: 2px  !important; }
    
    .newsiconc  {color: #4267b2 !important }
   
   .save-btn{background: #4267b2; color: #fff;  padding: 4px 22px !important;}
   

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 11px;
  cursor: pointer;
  font-size: 14px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 3px;
  left: 0;
  height: 15px;
  width: 15px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background:#4267b2;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 4px;
    top: 4px;
    height: 7px;
    width: 7px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.profile-main-sec1 { padding-bottom:5px; border-bottom:1px solid #e8e8e8; background: #fff; box-shadow: 0px 0px 4px #0000001f; }