 <div class="site-preloader-wrap">
	<div class="spinner"></div>
</div><!-- Preloader -->

<header id="header" class="header-section">
	
	<div class="bottom-header">
		<div class="container">
			<div class="bottom-content-wrap row">
				<div class="col-md-3">
					<div class="site-branding">
						<a href="index.html" class="logo"><h2>businessrose</h2></a>
					</div>
				</div>
			   <div class="col-md-9 text-right">
				   <ul id="mainmenu" class="nav navbar-nav nav-menu navbar-right">
				   <li>
				   <form class="navbar-form" role="search">
<div class="input-group">
	<input type="text" class="form-control" placeholder="Search" name="q">
	<div class="input-group-btn">
		<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
	</div>
</div>
</form>
				   </li>
						<li class="active"> <a href="index.html">Home</a></li>
						<li><a href="blog-grid.html">Blog</a> 
							<ul>
							   <li><a href="blog-grid.html">Blog Grid</a></li>
							   <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
							   <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
							   <li><a href="blog-list-classic.html">Classic List</a></li>
							   <li><a href="blog-list-modern.html">Modern List</a></li>
							   <li><a href="blog-single.html">Blog Single</a></li>
							</ul>
						</li>
					</ul>
					<a href="#" class="default-btn">Join Us Now</a>
			   </div>
			</div>
		</div>
	</div>
</header><!-- /Header Section -->

<div class="header-height"></div>

<section class="slider-section">
	<div class="slider-wrapper">
		<div id="main-slider" class="nivoSlider">
		<img src="assets/img/slider-4.jpg" alt="" title="#slider-caption-1"/>
		<img src="assets/img/slider-0.jpg" alt="" title="#slider-caption-1"/>
			<img src="assets/img/slider-1.jpg" alt="" title="#slider-caption-1"/>
			<img src="assets/img/slider-2.jpg" alt="" title="#slider-caption-2"/>
			<img src="assets/img/slider-3.jpg" alt="" title="#slider-caption-3"/>
		</div><!-- /#main-slider -->

		<div id="slider-caption-1" class="nivo-html-caption slider-caption">
			<div class="display-table">
				<div class="table-cell">
					<div class="container">
						<div class="slider-text">
						   <h5 class="wow cssanimation fadeInBottom">Join Us Today</h5>
						   <h1 class="wow cssanimation fadeInTop">Everything you need <br>to build an awesome website!</h1>
							<p class="wow cssanimation fadeInBottom" data-wow-delay="1s">Help today because tomorrow you may be the one who needs helping! <br>Forget what you can get and see what you can give.</p>
							<div class="wow cssanimation fadeInBottom slider-btn" data-wow-delay="0.8s">
								<a href="#" class="default-btn">Join With Us</a>
							</div>
						   
						</div>
				   </div>
				</div>
			</div>
		</div> <!-- /#slider-caption-1 -->
		<div id="slider-caption-2" class="nivo-html-caption slider-caption">
			<div class="display-table">
				<div class="table-cell">
					<div class="container">
						<div class="slider-text">
						   <h5 class="wow cssanimation fadeInBottom">Join Us Today</h5>
						   <h1 class="wow cssanimation fadeInTop">Everything you need <br>to build an awesome website!</h1>
							<p class="wow cssanimation fadeInBottom" data-wow-delay="1s">Help today because tomorrow you may be the one who needs helping! <br>Forget what you can get and see what you can give.</p>
							<div class="wow cssanimation fadeInBottom slider-btn" data-wow-delay="0.8s">
								<a href="#" class="default-btn">Join With Us</a>
							</div>
							
						</div>
				   </div>
				</div>
			</div>
		</div> <!-- /#slider-caption-2 -->
		<div id="slider-caption-3" class="nivo-html-caption slider-caption">
			<div class="display-table">
				<div class="table-cell">
					<div class="container">
						<div class="slider-text">
						   <h5 class="wow cssanimation fadeInBottom">Join Us Today</h5>
						   <h1 class="wow cssanimation fadeInTop">Everything you need <br>to build an awesome website!</h1>
							<p class="wow cssanimation fadeInBottom" data-wow-delay="1s">Help today because tomorrow you may be the one who needs helping! <br>Forget what you can get and see what you can give.</p>
							<div class="wow cssanimation fadeInBottom slider-btn" data-wow-delay="0.8s">
								<a href="#" class="default-btn">Join With Us</a>
							</div>
							
						</div>
				   </div>
				</div>
			</div>
		</div> <!-- /#slider-caption-3 -->
	</div>
</section><!-- /#slider-Section -->


<section class="cta-section">
	<div class="container">
		<div class="cta-content text-center">
			<h2>Connecting platform for small business investors & experience persons</h2>
		</div>
	</div>
</section><!-- cta-section -->


<section class="services-section bg-grey bd-bottom padding">
	<div class="container">               
	
	
<div id="team-carouse2" class="team-carouse2 owl-carousel">
			<div class="team-box">
			   <div class="row service-wrap">
						<div class="col-md-6 col-sm-6 ">
						<div class="service-content display-table">
						<div class="table-cell">
						<h3>Small business investors</h3> 
						<p>Start a small business of your dream in your city. Find persons who has experience and can take care entire business operations (sales, marketing, generating new leads / customers, and who knows secrets of a business)</p>
						<a href="#" class="default-btn">I am an Investor</a>
						</div>
						</div>
						</div><!-- /service-1 -->
						<div class="col-md-6 col-sm-6">
						<div class="service-content">
						
						<h3>Experienced persons</h3>
						<p>Do you have experience in handling entire operations of a business then find your business partner/investor, earn more money (work on percentage profits of a business)</p>
						<a href="#" class="default-btn">I am a Startup</a>
						</div>
						</div><!-- /service-2 -->
						
						</div>
			</div><!-- Team-1 -->
			<div class="teambox">
				<div class="team-box-in">
					<div class="slider-text text-center">
						   <h3 class="wow cssanimation fadeInTop">Everything you need <br>to build an awesome website!</h3>
							<p class="wow cssanimation fadeInBottom" data-wow-delay="1s">Help today because tomorrow you may be the one who needs helping! <br>Forget what you can get and see what you can give.</p>
							
						</div>
				  </div><!-- Team-2 -->
			</div><!-- Team-2 -->
			<div class="team-box">
			   
			<div class="slider-text text-center">
						   <h3 class="wow cssanimation fadeInTop">Everything you need <br>to build an awesome website!</h3>
							<p class="wow cssanimation fadeInBottom" data-wow-delay="1s">Help today because tomorrow you may be the one who needs helping! <br>Forget what you can get and see what you can give.</p>
							
						</div>
					
			 
			</div><!-- Team-3 -->
			<div class="team-box">
				
			   <div class="slider-text text-center">
						   <h3 class="wow cssanimation fadeInTop">Everything you need <br>to build an awesome website!</h3>
							<p class="wow cssanimation fadeInBottom" data-wow-delay="1s">Help today because tomorrow you may be the one who needs helping! <br>Forget what you can get and see what you can give.</p>
							
						</div>
			  
			</div><!-- Team-4 -->
			
		</div>
	
	
	
	
	 
	</div>
</section><!-- /services-section -->

<section id="counter" class="counter-section">
	<div class="container">
		<ul class="row counters">
			<li class="col-md-4 col-sm-4 sm-padding">
				<div class="counter-content">
					<i class="fa fa-money"></i>
					<h3 class="counter">162</h3>
					<h4 class="text-white">Business Investor</h4>
				</div>
			</li>
		   
			<li class="col-md-4 col-sm-4 sm-padding">
				<div class="counter-content">
					<i class="fa fa-user"></i>
					<h3 class="counter">898</h3>
					<h4 class="text-white">Experienced / Skilled</h4>
				</div>
			</li>
			<li class="col-md-4 col-sm-4 sm-padding">
				<div class="counter-content">
					<i class="fa fa-comments"></i>
					<h3 class="counter">563</h3>
					<h4 class="text-white">Connections</h4>
				</div>
			</li>
		</ul>
	</div>
</section><!-- counter-section -->

<section class="pricing-section bd-bottom padding">
	<div class="container">
		<div class="section-heading align-center mb-40">
			<h2><span>Pricing</span>Service packages</h2>
		</div><!-- /section-heading -->
		<div class="row pricing-wrap">
			<div class="col-md-4 col-sm-6 xs-padding">
				<div class="pricing-box text-center">
					<div class="pricing-head">
						<h2>Basic Plan</h2>
						<h3>$199 <span>Per Month</span></h3>
					</div>
					<ul class="pricing-details">
						<li>Consulting</li>
						<li>Advising</li>
						<li>Business Planning</li>
						<li>Investments</li>
					</ul>
					<a href="#" class="default-btn">Purchase Now</a>
				</div>
			</div><!-- pricing-1 -->
			<div class="col-md-4 col-sm-6 xs-padding">
				<div class="pricing-box text-center">
					<div class="pricing-head">
						<h2>Advanced Plan</h2>
						<h3>$499 <span>Per Month</span></h3>
					</div>
					<ul class="pricing-details">
						<li>Consulting</li>
						<li>Advising</li>
						<li>Business Planning</li>
						<li>Investments</li>
					</ul>
					<a href="#" class="default-btn">Purchase Now</a>
				</div>
			</div><!-- pricing-2 -->
			<div class="col-md-4 col-sm-6 xs-padding">
				<div class="pricing-box text-center">
					<div class="pricing-head">
						<h2>Premium Plan</h2>
						<h3>$499 <span>Per Month</span></h3>
					</div>
					<ul class="pricing-details">
						<li>Consulting</li>
						<li>Advising</li>
						<li>Business Planning</li>
						<li>Investments</li>
					</ul>
					<a href="#" class="default-btn">Purchase Now</a>
				</div>
			</div><!-- pricing-3 -->
		</div>
	</div>
</section><!-- pricing-section -->


<section class="widget-section padding">
	<div class="container">
		<div class="widget-wrap row">
			<div class="col-md-4 col-sm-6 xs-padding">
				<div class="widget-content">
					 <h3>businessrose</h3>
					<p>Lorem Ipsum is simply dummy printing and industry. It has survived not only five centuries, but also the leap electronic type essentially unchanged.</p>
					<ul class="social-icon">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 xs-padding">
				<div class="widget-content">
					<h3>Recent Posts</h3>
					<ul class="widget-link">
						<li><a href="#">First charity activity of this summer. <span>-1 Year Ago</span></a></li>
						<li><a href="#">Big charity: build school for poor children. <span>-2 Year Ago</span></a></li>
						<li><a href="#">Clean-water system for rural poor. <span>-2 Year Ago</span></a></li>
						<li><a href="#">Nepal earthqueak donation campaigns. <span>-3 Year Ago</span></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 xs-padding">
				<div class="widget-content">
					<h3>Ratina Location</h3>
					<ul class="address">
						<li><i class="ti-email"></i> Info@YourDomain.com</li>
						<li><i class="ti-mobile"></i> +(333) 052 39876</li>
						<li><i class="ti-world"></i> Www.YourWebsite.com</li>
						<li><i class="ti-location-pin"></i> 60 Grand Avenue. Central Road 0708, USA</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section><!-- ./Widget Section -->

<footer class="footer-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
			<ul class="links-f">
					<li><a href="#">About us</a></li>
					<li><a href="#">Terms of use</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Careers </a></li>
					<li><a href="#">Contact us</a></li>
				</ul>
				
			</div>
			<div class="col-md-6">
				<div class="copyright text-right">Copyright @ 2018 businessrose All rights reserved</div>
			</div>
		</div>
	</div>
</footer><!-- /Footer Section -->

<a data-scroll href="#header" id="scroll-to-top"><i class="fa fa-angle-up"></i></a>



