
<!-- SubHeader -->
<div class="careerfy-subheader careerfy-subheader-without-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="careerfy-page-title">
					<h1>Your Profile</h1>
					<div class="col-lg-6"><p>Views : <span style="color:#fff">{{this.views}}</span></p></div>
                    <div class="col-lg-6"><p>Shortlists : <a [routerLink]="['/shortlists']" ><span style="color:#fff">{{this.shortlists_count}}</span></a></p></div>
                    <div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="careerfy-page-title">
					<h1>Credits</h1>
					<div class="col-lg-6"><p>Available : <span>{{this.avail_credits}}</span></p></div>
                    <div class="col-lg-6"><p>Used : <span>{{this.used_credits}}</span></p></div>
                    <div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="careerfy-page-title">
					<h1>Invitation to Connect</h1>
					<div class="col-lg-6"><p>Received : <a [routerLink]="['/invitations-received']" ><span style="color:#fff">{{this.inv_received}}</span></a></p></div>
                    <div class="col-lg-6"><p>Sent : <a [routerLink]="['/invitations-sent']" ><span style="color:#fff">{{this.inv_sent}}</span></a></p></div>
                    <div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- SubHeader -->     
      
<section style="background:#f1f1f2;margin-top: 5px;">    
    <div class="container">     
         <div class="row">
            <div class="col-lg-1"></div><div class="col-lg-10"><section class="profile-main-sec nstatitc"  ><h3 class="profileviewds"><span class="prvH">Your Profile</span> - See who shortlists  to your Profile (34) <i class="fa fa-angle-double-down" aria-hidden="true"></i></h3></section>   </div>             
        </div> 
		<alert></alert> 
		<div class="row">
		<div class="col-lg-1"></div>
           <div class="col-lg-10">             
                <div class="main-box box-n" *ngFor="let user of users">
					<div class="row">
						<div class="col-lg-6">
						<h5>{{user?.user_type}}</h5>
						<p><b>Business Category : </b> <span class="blue">{{user?.cat_name}}</span> </p>
						<p><b>Sub Category :</b> <span class="blue">{{user?.sub_category}}</span></p>

						<p *ngIf="user?.user_type_id == this.global.SKILLED_PERSON"><b>Co Investment :</b> 
						<span *ngIf="user?.co_investment == this.global.CO_INVESTMENT_YES; else noCoInvestment" class="blue" >
						  Yes
						</span></p>
						<ng-template #noCoInvestment>
						  No
						</ng-template>
						</div>

						<div class="col-lg-6 padding-top30">
							<div *ngIf="user?.user_type_id == this.global.SKILLED_PERSON; else userTypeInvestorExp">
								<p><b>Experience:</b> <span class="blue"> {{user?.experience}} </span></p>                
								<p><b>Investment Needed :</b> <span class="blue"> Rs {{user?.range}} </span></p>
								<p><b>Financials :</b> <span class="blue"> {{user?.investment_type}}</span></p>
							</div>
							<ng-template #userTypeInvestorExp>
								<p><b>My Occupation :</b> <span class="blue">{{user?.experience}} </span></p>
								<p><b>Investment :</b> <span class="blue">Rs {{user?.range}} </span></p>
								<p class="icani">( I can invest )</p>
							</ng-template>						
						
						</div>
					</div>
					<div class="clearfix"></div>
					<hr style="border-top: 1px groove #f1f1f245;">

					<div class="row">
						<div class="col-lg-2">
						<a href="profileview.php"><img src="assets/images/avatar.png"  class="img-fluid bord"></a>
						</div>
						<div class="col-lg-7">
							<div class="row">
								<div class="col-lg-6">
									<p><a href="javascript:;">{{user?.name | titleCase }}</a></p>
									<p>Age : {{user?.date_of_birth | calculateAge}}yrs, <span *ngIf="user?.gender == this.global.MALE; else genderFemale" >Male</span>, R: {{user?.relation}} </p>
									<p>City & State : {{user?.city_name}}, {{user?.state_name}}</p>
									<p>Religion : {{user?.religion}} </p> 
									<p>Mother Tongue : {{user?.mother_tongue}}</p> 
									<p>Languages Known : {{user?.language}}</p>

									<ng-template #genderFemale>Female</ng-template> 
								</div>

								<div class="col-lg-6">
									<p>Email : {{user?.email}}</p> 
									<p>Phone no : {{user?.mobile}} </p> 

									<p>Whatsapp : {{user?.whatsup_number}} </p> 

									<p>Facebook : www.xxxxxx.com  </p>

									<p>Linkedin : {{user?.linked_in_url}}  </p>

									<p>Education : {{user?.qualification}} </p>
								</div>

							</div>
						</div>
						<div class="col-lg-3 feature-wrap" >
							 <p><b>Like This Profile?</b></p>
							 
							 
							 <p class="paddint-top8 "><i class="fa fa-check"></i> <span *ngIf="user?.is_connected == 1 else notConnected">Connected</span></p>
							 <ng-template #notConnected><a href="javascript:;" (click)="connectNow(user?.user_id)">Connect Now</a></ng-template>
								

							 <p class="paddint-top8 " *ngIf="user?.is_connected == 0"><i class="fa fa-heart" style=" background: #a458a2; color: #fff;  border: 1px solid #a458a2;"></i> <span *ngIf="user?.is_shortlisted == 1 else notShortlisted">Shortlisted</span></p>
							 <ng-template #notShortlisted><a href="javascript:;" (click)="shortlistNow(user?.user_id)">Shortlist Now</a></ng-template>                         

							 <p *ngIf="user?.is_connected == 0"><i class="fa fa-handshake-o"></i> <span *ngIf="user?.is_invited == 1 else noInvitationSent">Invitation Sent</span></p>
							 <ng-template #noInvitationSent><a href="javascript:;" (click)="inviteNow(user?.user_id)">Invite to Connect</a></ng-template>
						  </div>

						<div class="clearfix"></div>
					</div>


					<hr style="border-top:1px dashed #f0f0f0 ">
					<div *ngIf="user?.user_type_id == this.global.SKILLED_PERSON; else userTypeInvestorAbout">
						<div class="row">
							<div class="col-lg-12 border_line "><p  class="border_linep" ><b>About Me, My skill, Experience, Achivement, Growthrate</b></p></div>

							<div class="col-lg-12"><p>{{user?.about_me}} <a routerLink="['/details', user?.user_id]" >more</a></p></div>
						</div> 
						<div class="row">
							<div class="col-lg-12 border_line "><p  class="border_linep" ><b>No. Of clients/Customer/Average Sales/ I can achieve in a month</b></p></div>

							<div class="col-lg-12"><p>{{user?.description_of_sales}} <a routerLink="['/details', user?.user_id]" >more</a></p></div>
						</div>
					</div>
					<ng-template #userTypeInvestorAbout>
						<div class="row">
							<div class="col-lg-12 border_line ">
								<p  class="border_linep" ><b>Skill & Experience I am looking for</b></p>
							</div>
							<div class="col-lg-12"><p>{{user?.about_me}} <a routerLink="['/details', user?.user_id]" >more</a></p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 border_line ">
								<p  class="border_linep" ><b>I want to invest in location</b></p>
							</div>
							<div class="col-lg-12">
							<p>{{user?.description_place_business}} <a routerLink="['/details', user?.user_id]" >more</a></p>
							</div>
						</div>
					</ng-template>
				</div>				
           </div>
        </div>    
    </div>
</section>
 <div class="modal fade" id="exampleModalCenter1">
    <div class="modal-dialog modal-dialog-centered modal-dialog1" role="document">
      <div class="modal-content modal-content1">
        <div class="modal-header text-center">
           <h5 class="modal-title mb-0 font-weight-bold" id="exampleModalLongTitle">Category</h5>
            <button type="button" class="close close1" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-body1">
             
             <div class="col-lg-6">
               
                <input type="checkbox" id="city1" name="city-1" value="bangalore" class="modal-checkbox" >
                <label for="city1">Demo Data</label>


                <input type="checkbox" id="city2" name="city-2" value="delhi" class="modal-checkbox" >
                <label for="city1">Demo Data</label>

                <input type="checkbox" id="city3" name="city-2" value="mumbai" class="modal-checkbox" >
               <label for="city1">Demo Data</label>

                <input type="checkbox" id="city4" name="city-4" value="hyderbad" class="modal-checkbox" >
                <label for="city1">Demo Data</label>
             </div>     
             <div class="col-lg-6">               
                <input type="checkbox" id="city5" name="city-5" value="bangalore" class="modal-checkbox" >
              <label for="city1">Demo Data</label>

                <input type="checkbox" id="city6" name="city-6" value="delhi" class="modal-checkbox" >
               <label for="city1">Demo Data</label>

                <input type="checkbox" id="city7" name="city-7" value="mumbai" class="modal-checkbox" >
              <label for="city1">Demo Data</label>

                <input type="checkbox" id="city8" name="city-8" value="hyderbad" class="modal-checkbox" >
                <label for="city1">Demo Data</label>
             </div>                  
    
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter11">
    <div class="modal-dialog modal-dialog-centered modal-dialog1" role="document">
      <div class="modal-content modal-content1">
        <div class="modal-header text-center">
           <h5 class="modal-title mb-0 font-weight-bold" id="exampleModalLongTitle">Location</h5>
            <button type="button" class="close close1" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-body1">
             
             <div class="col-lg-6">
               
                <input type="checkbox" id="city1" name="city-1" value="bangalore" class="modal-checkbox" >
                <label for="city1">Demo Data</label>


                <input type="checkbox" id="city2" name="city-2" value="delhi" class="modal-checkbox" >
                <label for="city1">Demo Data</label>

                <input type="checkbox" id="city3" name="city-2" value="mumbai" class="modal-checkbox" >
               <label for="city1">Demo Data</label>

                <input type="checkbox" id="city4" name="city-4" value="hyderbad" class="modal-checkbox" >
                <label for="city1">Demo Data</label>


             </div>     
             <div class="col-lg-6">
               
                <input type="checkbox" id="city5" name="city-5" value="bangalore" class="modal-checkbox" >
              <label for="city1">Demo Data</label>


                <input type="checkbox" id="city6" name="city-6" value="delhi" class="modal-checkbox" >
               <label for="city1">Demo Data</label>

                <input type="checkbox" id="city7" name="city-7" value="mumbai" class="modal-checkbox" >
              <label for="city1">Demo Data</label>

                <input type="checkbox" id="city8" name="city-8" value="hyderbad" class="modal-checkbox" >
                <label for="city1">Demo Data</label>


             </div>                   
    
        </div>
      </div>
    </div>
</div>

